body {
  font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
ul {
  margin-bottom: 0;
}

a {
  color: inherit;
}
/* Fine Regole Generali */

/* Componenti */
/* Fine Componenti */

/* HEADER */
nav {
  line-height: 70px;
  color: black;
  font-size: 16px;
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; */
}

nav a {
  margin-left: 2px;
}

/* Logo */
.ms_logo img {
  height: 30px;
}

/* Menu */
.ms_link_button {
  color: #4f90ff;
  border: 1px solid #4f90ff;
  padding: 10px;
  border-radius: 5px;
}

.ms_link_button:hover {
  color: white;
  background-color: #4f90ff;
  text-decoration: none;
}

/* Hamburger Menu */
.ms_icon_menu {
  font-size: 20px;
  color: #4f90ff;
  padding-right: 10px;
}
/* FINE HEADER */
