body {
  font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
ul {
  margin-bottom: 0;
}

a {
  color: inherit;
}

h3 {
  margin-top: 10px;
}
/* Fine Regole Generali */

/* Componenti */
.ms_subtitle {
  color: grey;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.ms_link_blue {
  color: #4f90ff;
  font-size: 17px;
}

.ms_title {

}

section h5 {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  padding-top: 17px;
}

.ms_text_small {
  color: grey;
}

.ms_margin_top_20 {
  margin-top: 20px;
}
/* Fine Componenti */

/* HEADER */
nav {
  line-height: 70px;
  color: black;
  font-size: 16px;
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; */
}

nav a {
  margin-left: 2px;
}

/* Logo */
.ms_logo img {
  height: 30px;
}

/* Menu */
.ms_link_button {
  color: #4f90ff;
  border: 1px solid #4f90ff;
  padding: 10px;
  border-radius: 5px;
}

.ms_link_button:hover {
  color: white;
  background-color: #4f90ff;
  text-decoration: none;
}

/* Hamburger Menu */
.ms_icon_menu {
  font-size: 20px;
  color: #4f90ff;
  padding-right: 10px;
}
/* FINE HEADER */

/* MAIN */
/* Jumbotron */
.ms_jumbotron {
  background-image: url(../img/jumbotron-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.ms_jumbotron h1 {
  color: white;
  font-size: 4.5em;
  margin-top: 10px;
}

.ms_jumbotron .ms_subtitle {
  color: lightgrey;
}

.ms_login_form {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.ms_login_form h3:nth-child(2),
.ms_login_form a {
  color: #4f90ff;
}

.ms_login_form a {
  text-decoration: underline;
}

.form-control {
  height: 36px;
  margin-top: 5px;
  padding: 0 12px 0 5px;
  box-shadow: none;
  border: 1px solid lightgrey;
}

.jumbotron button {
  padding-top: 2px;
  padding-bottom: 2px;
}

.ms_btn_style {
  background-color: #4f90ff;
  color: white;
  border: 1px solid #4f90ff;
}

.ms_btn_style:hover {
  background-color: white;
  color: #4f90ff;
}

.ms_button_relative {
  position: relative;
  margin-bottom: 10px;
}

.ms_google_logo {
  height: 20px;
  position: absolute;
  left: 2%;
  top: 25%;
}

/* Partners */
.ms_partners {
  background-color: #f4f5f9;
  padding: 40px 0 30px 0;
}

.ms_partners h4 {
  color: grey;
  text-transform: uppercase;
}

.ms_partners li {
  width: calc(100% / 6 - 5px)
}

.ms_partners li img {
  width: 100%;
}

/* Offers */
.ms_offers {
  padding: 50px 0;
}

.ms_offers_list {
  border-left: 1px solid grey;
  padding-left: 10px;
  line-height: 50px;
  margin-left: 70px;
}

/* For-Developers */
.ms_for_developers {
  background-color: #f4f5f9;
  padding: 50px 0;
}

.ms_relative {
  position: relative;
}

.ms_scroll img {
  max-width: 55%;
}

.ms_scroll p {
  padding-top: 20px;
  font-weight: 400;
  font-size: 17px;
}

.ms_scroll .fa-circle {
  color: #4f90ff;
}

.ms_angle_left {
  position: absolute;
  top: 50%;
  left: 19%;
  font-size: 30px;
  color: grey;
}

.ms_angle_right {
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 30px;
}
/* FINE MAIN */

/* Inizio Media Query */
@media screen and (max-width: 991px) {
  .ms_margin_top_30 {
    margin-top: 30px;
  }

  .ms_partners li {
    width: calc(100% / 2 - 10px);
    padding: 0 20px;
  }

  .ms_margin_top_10 {
    margin-top: 10px;
  }

  .ms_offers_list {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
