body {
  font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
ul {
  margin-bottom: 0;
}

a {
  color: inherit;
}

h3 {
  margin-top: 10px;
}
/* Fine Regole Generali */

/* Componenti */
.ms_bg_grey {
  background-color: #f4f5f9;
}

.ms_bg_blue {
  background-image: linear-gradient(to top, #00219d, #002ca8, #003ab6, #0044c2);
  color: white;
}

.ms_subtitle {
  color: #6f7995;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.ms_link_blue {
  color: #4f90ff;
  font-size: 17px;
}

.ms_title {
  color: #031d4e;
}

.ms_relative {
  position: relative;
}

section h5 {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  padding-top: 17px;
}

.ms_text_small {
  color: grey;
}

.ms_margin_top_20 {
  margin-top: 20px;
}

/* Slider */
.ms_slider_content img {
  width: 100%;
}

.ms_slider {
  width: 70%;
  margin: 0 auto;
}

.ms_slider_content {
  width: 80%;
}

.ms_slider_content,
.ms_angle {
  display: inline-block;
}

.ms_angle {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ms_angle_left {
  left: 0%;
  color: grey;
}

.ms_angle_right {
  right: 0%;
}

.ms_slider .fa-circle {
  color: #4f90ff;
  font-size: 10px;
}

.ms_slider li {
  padding: 0 1px;
}
/* Fine Slider */

/* Fine Componenti */

/* HEADER */
nav {
  line-height: 70px;
  color: black;
  font-size: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

nav a {
  margin-left: 2px;
}

nav a:hover {
  color: #4f90ff;
  text-decoration: none;
}

/* Logo */
.ms_logo img {
  height: 30px;
}

/* Menu */
.ms_link_button {
  color: #4f90ff;
  border: 1px solid #4f90ff;
  padding: 10px;
  border-radius: 5px;
}

.ms_link_button:hover {
  color: white;
  background-color: #4f90ff;
  text-decoration: none;
}

/* Hamburger Menu */
.ms_icon_menu {
  font-size: 20px;
  color: #4f90ff;
  padding-right: 10px;
}

.ms_icon_menu:hover {
  color: #0149ff;
}
/* FINE HEADER */

/* MAIN */
/* Jumbotron */
.ms_jumbotron {
  background-image: url(../img/jumbotron-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin-top: 70px;
}

.ms_jumbotron h1 {
  color: white;
  font-size: 4.5em;
  margin-top: 10px;
}

.ms_jumbotron .ms_subtitle {
  color: lightgrey;
}

.ms_login_form {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.ms_login_form h3:nth-child(2),
.ms_login_form a {
  color: #4f90ff;
}

.ms_login_form a {
  text-decoration: underline;
}

.form-control {
  height: 36px;
  margin-top: 5px;
  padding: 0 12px 0 5px;
  box-shadow: none;
  border: 1px solid lightgrey;
}

.jumbotron button {
  padding-top: 2px;
  padding-bottom: 2px;
}

.ms_btn_style {
  background-color: #4f90ff;
  color: white;
  border: 1px solid #4f90ff;
}

.ms_btn_style:hover {
  background-color: white;
  color: #4f90ff;
}

.ms_button_relative {
  position: relative;
  margin-bottom: 10px;
}

.ms_google_logo {
  height: 20px;
  position: absolute;
  left: 2%;
  top: 25%;
}

/* Partners */
.ms_partners {
  padding: 40px 0 30px 0;
}

.ms_partners h4 {
  color: grey;
  text-transform: uppercase;
}

.ms_partners li {
  width: calc(100% / 2 - 10px);
  padding: 0 20px;
}

.ms_partners li img {
  width: 100%;
}

/* Inizio Media Query Partners */
@media screen and (min-width: 0px) {
  .ms_partners li {
    width: calc(100% / 2 - 10px);
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .ms_partners li {
    width: calc(100% / 6 - 5px)
  }
}
/* Fine Media Query Partners */

/* Offers */
.ms_offers {
  padding: 50px 0;
}

.ms_offers_list {
  border-left: 1px solid grey;
  padding-left: 10px;
  line-height: 50px;
  margin-left: 70px;
}

/* Inizio Media Query Offers */
@media screen and (min-width: 0px) {
  .ms_offers_list {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/* Fine Media Query Offers */

/* For-Developers */
.ms_for_developers {
  padding: 50px 0;
}

.ms_for_developers .ms_subtitle {
  margin-top: 25px;
}

.ms_slider .ms_text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 50px;
}

/* Inizio Media Query For-Developers */
@media screen and (min-width: 992px) {
  .ms_slider .ms_text {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .ms_slider .ms_text {
    padding-bottom: 0;
  }
}
/* Fine Media Query For-Developers */

/* Features */
.ms_features {
  padding: 60px 0;
}
.ms_features h2 {
  padding-bottom: 20px;
}

/* Service */
.ms_service h2 {
  color: white;
  padding-top: 20px;
}

.ms_service ul {
  padding: 10px 0 35px 0;
}

.ms_service li {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.ms_service li:last-child {
  border-bottom: 0;
}

/* Colonne/Lista */
.ms_sigla {
  padding-left: 10px;
  text-transform: uppercase;
  width: 20%;
  display: inline-block;
}

.ms_cities {
  color: lightgrey;
  width: 50%;
  display: inline-block;
}

.ms_test_speed {
  color: #00b8cc;
  width: 25%;
  display: inline-block;
  text-align: right;
}

/* Development */
.ms_development {
  padding: 50px 0;
}

.ms_slider_rockerbox {
  background-color: white;
  padding: 70px 0;
  margin: 30px 0;
}

.ms_slider_rockerbox img {
  max-width: 50%;
}

.ms_slider .ms_quote {
  margin: 0;
  padding: 10px 0;
}

.ms_slider .ms_quote_name {
  padding: 5px 0 10px 0;
  font-size: 15px;
}

/* Cta */
.ms_cta {
  padding: 60px 0;
}

.ms_btn_cta {
  color: #4f90ff;
  margin-top: 15px;
}

.ms_btn_cta:hover {
  color: white;
  background-color: #4f90ff;
}
/* FINE MAIN */

/* Inizio Media Query MAIN */

/* Fine Media Query MAIN */

/* FOOTER */
footer {
  background-color: #031d4e;
  color: #98a1b5;
  padding: 70px 0;
  font-size: 1.2em;
}

footer h5 {
  color: white;
  font-size: 1.1em;
}

footer img {
  padding-bottom: 10px;
  display: block;
}

footer p {
  color: #4b5a7c;
}

footer .ms_footer_social li i {
  font-size: 1.2em;
}

footer .ms_footer_menu li {
  padding: 4px 0;
}

footer a:hover {
  text-decoration: none;
}
/* FINE FOOTER */

/* Inizio Media Query FOOTER */
@media screen and (min-width: 1200px) {
  .ms_margin_top_20 {
    margin-top: 0;
  }
}
/* Fine Media Query FOOTER */

/* FIXED-BUTTON */
.ms_fixed_button {
  position: fixed;
  bottom: 5%;
  right: 3%;
}

.ms_chat_button {
  display: inline-block;
  background-color: white;
  width: 340px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 500;
  position: relative;
  margin-right: 20px;
}

.ms_chat_button i {
  font-size: 1.6em;
  position: absolute;
  top: 51%;
  right: -2%;
  color: white;
}

.ms_chat_button p {
  margin: 0;
}

.ms_avatar_button {
  width: 62px;
  height: 56px;
  background-color: #006aff;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 6px 1px 3px 1px;
}

.ms_avatar_button img {
  width: 100%;
}

.ms_avatar_button p {
  margin: 0;
  position: absolute;
  right: -30%;
  top: -29%;
  background-color: red;
  color: white;
  border: 4px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px
}

/* FINE FIXED-BUTTON */

/* Inizio Media Query FIXED-BUTTON */
@media screen and (max-width: 1199px) {
  .ms_fixed_button {
    bottom: 7%;
    left: 3%;
  }

  .ms_avatar_button {
    display: block;
    margin-bottom: 20px;
  }
}
/* Fine Media Query FIXED-BUTTON */
